.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.categoryBtn {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: 0.2s ease-in-out;
}

.categoryBtn:hover {
    color: rgb(187, 187, 187);
    border-color: rgb(174, 174, 174);
}
