:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
}

body {
    color: var(--foreground);
    background: var(--background);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

.container {
    width: 60vw;
    height: 100vh;
    margin: auto;
}

.header {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .logo {
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2rem;
        transition: 0.2s ease-in-out;
    }

    & .logo:hover {
        color: #c3b63f;
    }

    & .nav-bar a {
        font-size: 1.2rem;
        text-decoration: none;
        text-align: center;
        color: white;
        transition: 0.2s ease;
    }

    & .nav-bar a:hover {
        color: rgb(173, 173, 173);
    }
}

h1 {
    color: #f2e251;
    margin-bottom: 2rem;
}

p {
    margin-bottom: 1rem;
}
