.container {
    padding: 2rem;
}

.container h1 {
    color: yellow;
}

.shipCategory {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem;
}

.ship {
    border: 1px solid white;
    border-radius: 1rem;
    padding: 1rem;
    text-align: start;
    transition: ease-in-out 0.2s;
}

.ship:hover {
    color: chocolate;
    border-color: chocolate;
    transform: scale(1.1);
}
