.container {
    padding: 0 2rem;
}

.title {
    color: yellow;
    margin-bottom: 3rem;
}

.btn {
    border: 1 solid white;
    padding: 1rem 3rem;
    border-radius: 1rem;
}

.btn:hover {
    transition: ease-in-out 0.2s;
    color: chocolate;
    border-color: chocolate;
}
