.container {
    min-height: 100vh;
    margin: 2rem;
}

.title {
    color: yellow;
    margin-bottom: 1rem;
}

.spaceships {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.ships {
    border: 1px solid white;
    padding: 1rem;
    border-radius: 1rem;
    text-align: start;
    transition: ease-in-out 0.2s;
}

.ships:hover {
    color: chocolate;
    border-color: chocolate;
}
